.add-event-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(206, 197, 197, 0.1);
}

.add-event-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.add-event-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}
input{
  background-color: white;
  color: black;
}
textarea{
  background-color: white;
  color: black;
}
.add-event-form input,
.add-event-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-event-form input[type='file'] {
  padding: 5px;
}

.add-event-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.add-event-form button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}


button:disabled,
.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
